<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Edit.EducacionIT_61770.Clase2"/>
      <class name="Edit.EducacionIT_61770.Clase3"/>
      <class name="Edit.EducacionIT_61770.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
